@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #e6d6d6;
}
.container {
  width: 50%;
  background: #282851;
  padding: 1rem;
  margin: 6rem auto;
  border-radius: 20px;
}
.container h1 {
  text-align: center;
  font-family: 'Monoton';
  color: rgb(161, 160, 160);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding: 2.4rem 0;
}

.inputField {
  width: 100%;
  padding: 5px 1rem;
  background: #3e3e5a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField input {
  background: transparent;
  padding: 10px;
  color: rgb(161, 160, 160);
  font-size: 1rem;
  width: 100%;
}
.inputField input::placeholder {
  color: rgb(161, 160, 160);
}

.inputField button {
  background: #7a7a94;
  color: #fff;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: rotate(90deg);
}

.toDoList {
  margin-top: 2rem;
}
.toDoList span {
  color: rgb(161, 160, 160);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.toDoList .list-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  
}
.list-items .items {
  background: #44446b;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: 
  space-between;
  color: rgb(186, 186, 186);
  width: 100%; /* İtem container'ının genişliğini belirleyin */
  max-width: 100%;
}
input[type='checkbox'] {
  padding: 5px;
  cursor: pointer;
}
.items-text {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.items-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px; /* Kırpma için maksimum genişlik */
  transition: max-width 0.5s ease; /* Animasyon eklemek için */
}

.items-text:hover p {
  max-width: none; /* Hover durumunda maksimum genişlik sınırlamasını kaldır */
  white-space: normal; /* Metni kırpmadan tamamını göster */
}
.items-text div {
  color: rgb(180, 132, 132);
  overflow: hidden;
 
}
.notify {
  text-align: center;
  color: rgb(161, 160, 160);
}


.icon-container {
  display: flex;
  gap: 10px;
}

.delete-icon,
.edit-icon {
  width: 40px;
  height: 40px;
  font-size: 27px !important;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: block;
}

.delete-icon:hover,
.edit-icon:hover {
  background: #7a7a94;
  transition: 0.3s;
}

.edit-input {
  border: 1px solid #333a99; 
  border-radius: 10px; 
  padding: 5px; 
  color: rgb(161, 160, 160); 
  background: transparent; 
  width: 300%;
}

.edit-input:focus {
  outline: none; 
  border-color: #9da1e0; 
  box-shadow: 0 0 5px #9da1e0; 
}


.isChecked {
  text-decoration: line-through;
  opacity: 0.5;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #282851;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 1rem;
    margin: 4rem auto;
  }

  .list-items .items {
    max-width: 100%;
  }

  .items-text p {
    max-width: 100px;
  }

  .edit-input {
    width: 100%;
  }
}